<header>
  <div class="branding">
    <div class="nav-link">
      <cds-icon shape="bank"></cds-icon>
      <span class="title2">CreditControl</span>
    </div>
  </div>

  <div class="header-nav">
    <a routerLink="/home" class="active nav-link2">Головна</a>
    <a routerLink="/clients" class="nav-link2">Клієнти</a>
  </div>

  <div class="header-actions">
    <a routerLink="/" aria-label="logout" class="nav-link2">
      <cds-icon size="md" shape="logout"></cds-icon>
      <span class="nav-logout">Вийти</span>
    </a>
  </div>
</header>
